@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">會員總數</p>
                    <h3 id="memberCountblock" class="card-title">
                        @* todo vue bind *@
                        {{MemberCount}}
                        <small>間</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> 123
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">收入</p>
                    <h3 id="incomeBeforeAWeek" class="card-title">
                        @* todo vue bind *@
                        $34,245
                        {{IncomeBeforeAWeek}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 1 Week
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">房間總數</p>
                    <h3 id="houseCountblock" class="card-title">
                        @* todo vue bind *@
                        {{HouseCount}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> 123
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">半年收入</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">半年訂單</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">過去一周熱門地點</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="row"> *@
    @*     $1$ todo 改id js data #1# *@
    @*     <div class="col-md-6"> *@
    @*         <div class="card card-chart"> *@
    @*             <div class="card-header card-header-success"> *@
    @*                 <div class="ct-chart" id="dailySalesChart"></div> *@
    @*             </div> *@
    @*             <div class="card-body"> *@
    @*                 <h4 class="card-title"></h4> *@
    @*                 <p class="card-category"> *@
    @*                     <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales. *@
    @*                 </p> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <div class="stats"> *@
    @* *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-md-9"> *@
    @*         <div class="card card-chart"> *@
    @*             <div class="card-header card-header-warning"> *@
    @*                 <div class="ct-chart" id="websiteViewsChart"></div> *@
    @*             </div> *@
    @*             <div class="card-body"> *@
    @*                 <h4 class="card-title">半年訂單</h4> *@
    @*                 <p class="card-category">Last Campaign Performance</p> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <div class="stats"> *@
    @* *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* *@
    @* </div> *@
</div>

@section Scripts{
    <script>

        let json = {
            count: [
                { houseCount: "NaN" },
                { memberCount: "NaN" },
            ],
            income: {

            }


        }
        function LoadHouseData() {
            $.ajax({
                type: "Get",
                url: "/api/Houses/GetAllHouses",
                data: "",
                dataType: "json",
                success: function (response) {
                    console.log(response)

                    json.count[0] = response
                    HouseCountBinding()
                }
            });
        }

        function LoadMemberData() {
            $.ajax({
                type: "Get",
                url: "/api/Houses/GetAllMembers",
                data: "",
                dataType: "json",
                success: function (response) {
                    console.log(response)

                    json.count[1] = response
                    MemberCountBinding()
                }
            });
        }

        function LoadIncomeData() {
            const now = new Date();
            const startDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 7);
            $.ajax({
                type: "Get",
                url: `/api/Income/${startDate.getFullYear()}-${startDate.getMonth() + 1}-${startDate.getDate()}/${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}`,
                data: "",
                dataType: "json",
                success: function (response) {
                    json.income = response
                    IncomeBeforeAWeekBinding()
                }
            })
        }
        function HouseCountBinding() {
            Vue.createApp(
                {
                    data: function () {
                        return {
                            HouseCount: json.count[0]
                        }
                    },
                }
            ).mount('#houseCountblock')
        }

        function MemberCountBinding() {
            Vue.createApp(
                {
                    data: function () {
                        return {
                            MemberCount: json.count[1]
                        }
                    },
                }
            ).mount('#memberCountblock')
        }


        function IncomeBeforeAWeekBinding() {
            Vue.createApp({
                data: function () {
                    return {
                        IncomeBeforeAWeek: json.income
                    }
                }
            }).mount('#incomeBeforeAWeek')
        }

        $(document).ready(function () {
            LoadHouseData();
            LoadMemberData();
            LoadIncomeData();
        });




    </script>
}