@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">會員總數</p>
                    <h3 id="memberCountblock" class="card-title">
                        @* todo vue bind *@
                        {{MemberCount}}
                        <small>間</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> 123
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">收入</p>
                    <h3 class="card-title">
                        @* todo vue bind *@
                        $34,245
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 1 Week
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <p class="card-category">房間總數</p>
                    <h3 id="houseCountblock" class="card-title">
                        @* todo vue bind *@
                        {{HouseCount}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i> 123
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">半年收入</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="OrderChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">半年訂單</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">過去一周熱門地點</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="row"> *@
    @*     $1$ todo 改id js data #1# *@
    @*     <div class="col-md-6"> *@
    @*         <div class="card card-chart"> *@
    @*             <div class="card-header card-header-success"> *@
    @*                 <div class="ct-chart" id="dailySalesChart"></div> *@
    @*             </div> *@
    @*             <div class="card-body"> *@
    @*                 <h4 class="card-title"></h4> *@
    @*                 <p class="card-category"> *@
    @*                     <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales. *@
    @*                 </p> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <div class="stats"> *@
    @* *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="col-md-9"> *@
    @*         <div class="card card-chart"> *@
    @*             <div class="card-header card-header-warning"> *@
    @*                 <div class="ct-chart" id="websiteViewsChart"></div> *@
    @*             </div> *@
    @*             <div class="card-body"> *@
    @*                 <h4 class="card-title">半年訂單</h4> *@
    @*                 <p class="card-category">Last Campaign Performance</p> *@
    @*             </div> *@
    @*             <div class="card-footer"> *@
    @*                 <div class="stats"> *@
    @* *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* *@
    @* </div> *@
</div>

@section Scripts{
    <script>

        let json = {
            count: [
                { houseCount: "NaN" },
                { memberCount: "NaN" },

            ]


        }

        let OrderChart = {
            labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
            series: [
                [20, 7, 1, 17, 3, 38, 50]
            ]
        };

        function LoadHouseData() {
            $.ajax({
                type: "Get",
                url: "/api/Houses/GetAllHouses",
                data: "",
                dataType: "json",
                success: function (response) {
                    console.log(response)

                    json.count[0] = response
                    HouseCountBinding()
                }
            });
        }

        function LoadMemberData() {
            $.ajax({
                type: "Get",
                url: "/api/Houses/GetAllMembers",
                data: "",
                dataType: "json",
                success: function (response) {
                    console.log(response)

                    json.count[1] = response
                    MemberCountBinding()
                }
            });
        }


        function HouseCountBinding() {
            Vue.createApp(
                {

                    data: function () {
                        return {
                            HouseCount: json.count[0]
                        }
                    },
                }
            ).mount('#houseCountblock')
        }

        function MemberCountBinding() {
            Vue.createApp(
                {

                    data: function () {
                        return {
                            MemberCount: json.count[1]
                        }
                    },
                }
            ).mount('#memberCountblock')
        }

       // 1. fetch 後端api 
       // 2. 畫圖
       // 3. 呼叫
        
        $(document).ready(function () {
            LoadHouseData();
            LoadMemberData();
            getOrderCount();
        });
        
        
        $(window).resize(function () {
            // reset the seq for charts drawing animations
            seq = seq2 = 0;
            setTimeout(function () {
                initDashboardPageCharts();
            }, 500);
        });
        
        function initDashboardPageCharts(OrderChart) {
            if ($('#OrderChart').length != 0) {
               

                optionsOrderChart = {
                    lineSmooth: Chartist.Interpolation.cardinal({
                        tension: 0
                    }),
                    low: 0,
                    high: Math.max(...OrderChart.series[0]), // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                    chartPadding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    }
                }
                var OrderChart = new Chartist.Line('#OrderChart', OrderChart, optionsOrderChart);
                md.startAnimationForLineChart(OrderChart);
            }

        }
     
        function getOrderCount() {
            $.ajax({
                type: "Get",
                url: "/api/orders/count",
                data: "",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    OrderChart.labels = response.map(x => x.date.slice(-2));
                    const arr = response.map(x => x.total);
                    OrderChart.series = [arr];
                    console.log(OrderChart.series);
                    initDashboardPageCharts(OrderChart);
                }       
            });
        }
    </script>
}