[v-cloak] {
    display: none;
}

.form-inline.ml-auto {
    margin: 0 auto;
}

.form-control {
    width: 100% !important;
}

.btn.btn-neutral.btn-icon.btn-round {
    padding: 12px;
}

@media screen and (min-width: 452px) {
    .btn.btn-neutral.btn-icon.btn-round {
        padding: 12px 30px;
    }
}

@media screen and (min-width: 768px) {
    .form-group.has-white {
        width: 318px;
    }
}

@media screen and (min-width: 1200px) {
    .form-group.has-white {
        width: 636px;
    }
}

.table th {
    font-size: 14px !important;
}

th,
td {
    min-width: fit-content !important;
    white-space: nowrap;
    text-align: center;
}

td {
    font-size: 16px !important;
    font-weight: 800;
}

.name,
.myTd-name {
    text-align: start;
}

.td-name {
    min-width: 200px !important;
    white-space: normal;
    text-align: center;
}

    .td-name a {
        font-weight: 800;
    }

.td-actions div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .td-actions div button {
        width: 50px;
        margin: 5px 0 !important;
    }

.btn.btn-danger i {
    font-size: 16px;
}
